body {
    margin: 0;
   
}
.home {
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.header {
    width: 80%;
    height: 11%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_icon {
    height: 60px;
    width: 60px;
}
.name {
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 140px;
    height: 62px;
}
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.foot {
    width: 80%;
    height: 5%;
    background-color: #f3f4f6;
    position: fixed;
    bottom: 0;
    
}
h1 {
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    color: #363751;
}
.buy_button:hover {
    color: #cbcbcb;
    background-color: #363751;
}
.search {
    width: 300px;
    height: 40px;
    border: 1px solid white;
    border-radius: 15px;
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    font-size: 32px;
    margin-left: 5px;
}
.logo_group {
    display: flex;
    flex-flow: row nowrap;
}
.logo {
    width: 60px;
    height: 60px;
    margin-top: 24px;
    margin-left: 18px;
}
.search_group {
    display: flex;
    flex-flow: row nowrap;
}
.search_icon {
    width: 40px;
    height: 40px;
}
.links_group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.main_links {
    text-align: end;
    text-decoration: none;
    color: #363751;
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    font-size: 48px;
    margin: 10px;
}
.dropdown {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f3f4f6;;
    width: 80px;
    height: 220px;
    top: 60px;
    right: -10px;
}
.root {
    list-style-type: none;
    position: relative;
    color: #363751;
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    font-size: 48px;
    margin: 10px;
    z-index: 1;
}
.root:hover .dropdown{
    display: block;
}
.card {
    width: 300px;
    height: 350px;
    background-color: #f3f4f6;
    margin: 5%;
    position: relative;
}
.card img {
    position: absolute;
    left: 30px;
}
.card  a{
    position: absolute;
    right: 70px;
}
.buy_button {
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    text-align: center;
    width: 240px;
    height: 40px;
    border-radius: 20px;
    background-color: #cbcbcb;
    color: #363751;
    border: 1px solid #cbcbcb;
}
.card h1 {
    position:absolute;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card .buy_button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main_text {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    position: relative;
    max-width: 700px;
    max-height: 400px;
    margin: 5%;
}
.coffee_text {
    margin: 10%;
}
.main_text h1 {
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: -40px;
    font-size: 40px;
}
.content_3 {
    margin: 2.5% ;
    display: flex;
    flex-flow: row nowrap;
}
.content_2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.order {
    width: 370px;
    height: 670px;
    background-color: #cbcbcb;
    margin: 20px;
}
.payment {
    width: 370px;
    height: 220px;
    background-color: #cbcbcb;
    margin: 20px;
    position: relative;

}
.split_payment {
    width: 370px;
    height: 220px;
    background-color: #cbcbcb;
    margin: 20px;

}
.payment_icon {
    position: absolute;
}
.basket {
    position: absolute;
    left: 35px;
    bottom: 50px;
}
.basket p {
    background-color: #C41D24;
    width: 20px;
    border: 1px solid #C41D24;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50px;
}