<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="home">
            <div class="header">
                <div class="logo_group">
                    <img class="logo" src="./main_image.png" alt="Vlados-coffee-image">
                    <p class="name">Vlado`s coffee</p>
                </div>
                <div class="search_group">
                    <img src="./search_icon.png" alt="search_icon">
                    <input class="search" id="mySearch" name="q" placeholder="Search…" required />
                    <search></search>
                </div>
                <div class="links_group">
                    <a href="#" class="main_links">Order</a>
                    <ul>
                        <li class="root">
                            Contacts
                            <ul class="dropdown">
                                <li><a href="https://web.telegram.org/a/"><img src="./tg.png" alt="telegram"></a></li>
                                <li><a href="https://vk.com/vladospapiross"><img src="./vk.png" alt="vk"></a></li>
                                <li><a href="tel: +79296049780"><img src="./whatsapp.png" alt="whatsapp"></a></li>
                                <li><a href="mailto:sedvlad2015@yandex.ru"><img src="./email.png" alt="mail" style="width: 40px;"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content_3">
                <div class="coffe_image">
                    <img src="{{ item.image_url }}" alt="{{ item.name }}" width="480px">
                </div>
                <div class="main_text">
                   <h1 style="margin: 15px;  font-family: 'Aboreto', 'Times New Roman', Times, serif;">{{ item.name }}</h1>
                   <p class="coffee_text">{{ item.description }}</p>
                </div>
            </div>
            <div class="foot">
                <p style="margin: 15px;  font-family: 'Aboreto', 'Times New Roman', Times, serif;">© 2017 - 2025 Vlado`s coffee bar</p>
            </div>  
        </div> 
    </body>
</html>