{% extends "base.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <h1 style="margin: 30px">Basket</h1>

    {% if basket %}
        <ul class="basketOptional">
            {% for item in basket %}
                <li class="basketPosition">
                    <img src="{{ item.image_url }}" alt="{{ item.name }}" width="50">
                    {{ item.name }} - {{ item.price }} ₽
                </li>
                <form method="POST" action="{% url 'delete_from_basket' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Удалить из корзины</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>Basket empty.</p>
    {% endif %}
{% endblock %}