/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общий стиль */
body {
    font-family: 'Aboreto', 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
}

/* Контейнер главной страницы */
.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Шапка сайта */
.header {
    width: 100%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Логотип */
.logo_group {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
}

.name {
    font-size: 28px;
    font-weight: bold;
    color: #363751;
    margin-left: 10px;
}

/* Поиск */
.search_group {
    display: flex;
    align-items: center;
}

.search {
    width: 280px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search_icon {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    cursor: pointer;
}

/* Навигация */
.links_group {
    display: flex;
    gap: 30px;
}

.main_links {
    text-decoration: none;
    font-size: 22px;
    color: #363751;
    font-weight: bold;
    transition: 0.3s;
}

.main_links:hover {
    color: #C41D24;
}

/* Сетка товаров */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

/* Карточка товара */
.card {
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Изображение */
.card img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

/* Название */
.card h1 {
    font-size: 20px;
    font-weight: bold;
    color: #363751;
}

/* Кнопка */
.buy_button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #363751;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.buy_button:hover {
    background-color: #C41D24;
}

/* Подвал */
.foot {
    width: 100%;
    padding: 20px;
    background-color: #f3f4f6;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 16px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}
.card-link:hover .card {
    transform: scale(1.05);
    transition: 0.3s;
}